<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Dados do aluno</h1>
  <h2>Nome:André luiz da rocha paladino</h2>
  <h2>Turma: analise e desenvolvimento de sistemas</h2>
  <h2>Professores: Marcelo e Charles</h2>
  <h2>Matricula: 23202344</h2>
  <div><img src="assets/foto.minha.png" alt=""></div>
  
</ion-content>
